:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@font-face {
  font-family: 'DSEG7 Classic';
  src:
          url('../public/fonts/DSEG7Classic-Regular.woff2') format('woff2'),
          url('../public/fonts/DSEG7Classic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DSEG7 Classic';
  src:
          url('../public/fonts/DSEG7Classic-Bold.woff2') format('woff2'),
          url('../public/fonts/DSEG7Classic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/fonts/FOT-Rodin%20Pro%20L.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/fonts/FOT-Rodin%20Pro%20M.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Demi Bold */
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/fonts/FOT-Rodin%20Pro%20DB.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/fonts/FOT-Rodin%20Pro%20B.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/fonts/FOT-Rodin%20Pro%20EB.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Ultra Bold */
@font-face {
  font-family: "FOT-Rodin Pro";
  src: url("/fonts/FOT-Rodin%20Pro%20UB.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}




